html {
	border-color: #700;
}

body {
	background-color: #900;
	color: white;
}

blockquote blockquote {
	border-color: #cc9;
}

form {
	background-color: #700;
	color: #cc9;
}
form input, select {
	border-color: red !important;
	background-color: #c00;
	color: white;
}
form input#submit, form input#searchsubmit, form input[type=submit] {
	border-color: #700;
	background-color: #800;
	color: #fc0;
}
form a {
	color: #fc0 !important;
}
form a:hover, form a:focus, form a:active {
	color: yellow !important;
}
form#searchform { /* Search form */
	background-color: transparent;
}

a:link {
	color: #fc0;
}
a:visited {
	color: #f70;
}
a:hover, a:focus, a:active {
	color: yellow;
}
a:link img {
	border-color: #fc0;
}
a:visited img {
	border-color: #f70;
}
a:hover img, a:focus img, a:active img {
	border-color: yellow;
}

/* Running Head & Running Foot */

div#head h1, div#head h1 a {
	color: #fc0;
	background-image: url("../images/square.gif");
}
div#head h1 a:hover, div#head h1 a:focus, div#head h1 a:active {
	color: #fe0;
}

div#head p#contact, div#head p#contact a { /* "Contact" image replacement */
	background-image: url("../images/contact.gif");
}

div#foot p#about, div#foot p#about a { /* "About" image replacement */
	background-image: url("../images/about.gif");
}

/* Content */

div#content { /* Index layout center rule */
	background-image: url("../images/rule.gif");
}
body.single div#content, body.page div#content { /* Override center rule */
	border-color: #cc9;
	background-image: none;
}

/* Headings */

h2 {
	color: #cc9;
}

/* Main Content */

div#main a:link { /* Text links */
	border-color: #fc0;
	color: white;
}
div#main a:visited {
	border-color: #f60;
	color: white;
}
div#main a:hover, div#main a:focus, div#main a:active {
	border-color: yellow;
	color: yellow;
}
div#main img {
	border-color: white;
}
div#main a:hover img, div#main a:focus img, div#main a:active img {
	border-color: yellow;
}

div#main h3 a { /* Override text links */
	color: #cc9 !important;
}
div.highlight a.more-link,
div.highlight div.message a,
div#main div.dateline a,
div#main div.tags a,
div#main div.bookmarks a,
ol#trackbacks li a,
div.prev-next a {
	color: #fc0 !important;
}
div.highlight div.message a:visited {
	color: #f70 !important;
}
div.highlight a.more-link:hover, div.highlight a.more-link:focus, div.highlight a.more-link:active,
div#main h3 a:hover, div#main h3 a:focus, div#main h3 a:active,
div.highlight div.message a:hover, div.highlight div.message a:focus, div.highlight div.message a:active,
div#main div.dateline a:hover, div#main div.dateline a:focus, div#main div.dateline a:active,
div#main div.tags a:hover, div#main div.tags a:focus, div#main div.tags a:active,
div#main div.bookmarks a:hover, div#main div.bookmarks a:focus, div#main div.bookmarks a:active,
ol#trackbacks li a:hover, ol#trackbacks li a:focus, ol#trackbacks li a:active,
div.prev-next a:hover, div.prev-next a:focus, div.prev-next a:active {
	color: yellow !important;
}

div#main h3 {
	color: #cc9;
}

/* Index Posts */

div.highlight {
	background-color: #700;
}
div.highlight div.bookmarks {
	border-color: #cc9;
}
div.dateline, div.tags {
	color: #cc9;
}
div.dateline img.icon, div.bookmarks img.icon {
	background-color: #c60;
}
div.dateline a:hover img.icon, div.dateline a:focus img.icon, div.dateline a:active img.icon {
	background-color: #e60;
}
div.bookmarks {
	border-color: #700;
}

/* Single Posts & Pages */

body.single h2, body.page h2 {
	border-color: #700;
}

div#postmeta div#postmeta_slider { /* Postmeta Slider */
	background-color: #800;
}
div#postmeta div#postmeta_slider dl {
	border-color: #cc9;
}
div#postmeta div#postmeta_slider dl dt {
	color: #cc9;
}

/* comments */

div.avatar img {
	border-color: #700 !important;
}
li.bypostauthor {
	background-color: #700;
}
li.bypostauthor div.avatar img,
li.bypostauthor .bookmarks {
	border-color: #500 !important;
}

/* pingbacks */

li.pingback,
li.trackback {
	background-color: #700;
}
li.pingback img.icon,
li.trackback img.icon {
	background-color: #c60;
}

/* comment form */

div#respond {
	background-color: #700;
	color: #cc9;
}
div#respond span.required,
h3#reply-title a#cancel-comment-reply-link {
	color: #fc0 !important;
}
h3#reply-title a#cancel-comment-reply-link:hover,
h3#reply-title a#cancel-comment-reply-link:focus,
h3#reply-title a#cancel-comment-reply-link:active {
	color: yellow !important;
}
fieldset.comment-form-fields p {
	background-color: #600;
}
p.comment-form-comment {
	border-color: red;
	background-color: #c00;
}
p.comment-form-comment textarea {
	background-color: transparent;
	color: white;
}
div#respond p.form-submit input {
	border-color: #500;
	background-color: #600;
}

/* Sidebar */

div#sidebar, div#sidebar h3 a {
	color: #cc9;
}
div#sidebar h3 a:hover, div#sidebar h3 a:focus, div#sidebar h3 a:active {
	color: yellow;
}

/* Pages Widget */

div#pages ul li a, div#pages ul li.current_page_item ul a,
div.flexipages_widget ul li a, div.flexipages_widget ul li.current_page_item ul a { /* Rollover menu links */
	border-color: #c00 !important;
	color: #fc0;
}
div#pages ul li.current_page_item a,
div.flexipages_widget ul li.current_page_item a { /* Current link */
	border-color: #c60 !important;
}
div#pages ul li a:hover, div#pages ul li a:focus, div#pages ul li a:active,
div#pages ul li.current_page_item a:hover, div#pages ul li.current_page_item a:focus, div#pages ul li.current_page_item a:active,
div.flexipages_widget ul li a:hover, div.flexipages_widget ul li a:focus, div.flexipages_widget ul li a:active,
div.flexipages_widget ul li.current_page_item a:hover, div.flexipages_widget ul li.current_page_item a:focus, div.flexipages_widget ul li.current_page_item a:active { /* Hover links */
	border-color: #fc0 !important;
	color: yellow !important;
}

/* Accordion Widget */

div#half-baked-accordion {
	background-color: #800;
}

/* Categories Widget */

div.widget_categories ul ul li {
	padding-right: 16px;
	background: #900 url("../images/subcat.gif") right top no-repeat;
}

/* calendar widget */

table#wp-calendar td#today {
	background-color: #600;
	color: white;
}
table#wp-calendar tfoot {
	border-top-color: #cc9;
}

/* Tag Cloud Widget */

div#tagcloud a:hover, div#tagcloud a:focus, div#tagcloud a:active {
	color: yellow !important;
}

/* RSS Widget */

div.widget_rss h3 a img {
	background-color: transparent !important;
}

/* Meta Widget */

div#meta {
	color: white;
}
div#meta p.login {
	color: #cc9;
}
div#meta p a {
	color: white;
}
div#meta p.login a {
	color: #cc9;
}
div#meta p a:hover, div#meta p a:focus, div#meta p a:active,
div#meta p.login a:hover, div#meta p.login a:focus, div#meta p.login a:active {
	color: yellow;
}
